<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dota2Heros.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>663EEE021D632B7C00C761BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>663EEE1B1D632B7D00C761BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>663EEE261D632B7D00C761BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
